* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    line-height: 1.5;
}

.container {
max-width: 1024px;
width: 100%;
margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 10px 0 0;
    margin-bottom: 56px;
    background-color: #d8d8d8;
}

.menu > li {
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.clear {
    clear: both;
}

.menu li:hover {
    border-color: black;
}

.menu a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.sobre {
    display: grid;
    grid-template-columns: 38% 60%;
    column-gap: 2%;
    align-items: center;
}

.sobre img {
    max-width: 100%;
}

.produto img {
    max-width: 100%;
}


section h2 {
    margin-bottom: 32px;
    border-bottom: 3px solid;
}


section {
    margin-bottom: 32px;
}

.produtos {
    display: grid;
    grid-template-columns: 32.6% 32.6% 32.6%;
    column-gap: 1%;
    row-gap: 5%;

}

.produtos button {
    width: 90%;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
    margin: 5px auto;
    font-weight: bold;
    background-color: #d8d8d8;
}

.produtos button:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 767px) {
    .sobre {
        display: block;
    }
    
    .sobre img {
        margin-bottom: 16px;
    }

    img {
        width: 100%;
    }

    .container { 
        max-width: 90%;
    }

    .produtos {
        display: block;  
    }

    article {
        margin-bottom: 16px;
    }

    header div.container {
        flex-direction: column;
    }
    
    .menu, .menu > li {
        width:100%;
        display: block;
    }

    .menu {
        display: none;
    }

    .menu > li {
        clear: both;
    }

    .botao-menu {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        padding-bottom: 16px;
        
    }

    .botao-menu button {
        padding: 10px;
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        font-weight: bold;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .sobre img {
        margin-bottom: 16px;
    }

    article {
        margin-bottom: 16px;
    }

    img {
        max-width: 95%;
    }

    .botao-menu {
        display: none;
    }

    .produtos {
        grid-template-columns: repeat (2, 49%);
    }
}

@media screen and (min-width: 1024px) {
    .botao-menu {
        display: none;
    }

}